.page-top_news-open {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../img/news-open/news_top_bg.jpg');
    .page-top__wrapper {
        position: relative;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 20px;
        &::before,
        &::after {
            content: none;
        }
    }
    .page-top_heading {
        max-width: 740px;
        margin: 0 auto;
        padding-bottom: 30px;
    }
    .page-top__links {
        position: static;
        align-self: flex-start;
        margin-bottom: 10px;
    }
    h1 {
        color: #fff;
        text-align: center;
        line-height: 36px;
    }
}
.news-open__content {
    margin-top: 60px;
    &::after {
        content: '';
        display: block;
        clear: both;
    }
}

.news-open__image {
    max-width: 550px;
    float: left;
    margin: 0 60px 30px 0;
    img {
        width: 100%;
    }
}
.gallery-arrow_news-open-next {
    right: 15px;
    top: auto;
    bottom: 10px;
}
.gallery-arrow_news-open-prev {
    right: 80px;
    top: auto;
    bottom: 10px;
}

.news-open__paragraph {
    font-size: 1.125rem;
    line-height: 30px;
    letter-spacing: 0.45px;
    color: #000;

    margin-top: 45px;
}

.news-open_btns {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.news-open__btn {
    display: block;
    width: 48%;
    line-height: 50px;
}
.news-open__btn_back {
    color: $beige1;
    fill: $beige1;
    background-color: $green1;
    &::before {
        background-color: rgba($beige1, 0.7)
    }
    &::after {
        background-color: rgba($beige1, 0.4)
    }
    &:hover {
        fill: $green1;
        .btn__text {
            color: $green1;
        }
    }
}
.news-open__btn_back-arrow {
    position: relative;
    z-index: 1;
    transition: fill 0.4s ease-out;
}
.news-open__btn_hoose-appartment {
    color: $green1;
    background-color: $beige1;
    &::before {
        background-color: rgba($green1, 0.7)
    }
    &::after {
        background-color: rgba($green1, 0.4)
    }
    &:hover {
        .btn__text {
            color: $beige1;
        }
    }
}

.news-open__read-more-heading {
    font-size: 2.25rem;
    color: #000;
    font-weight: 300;
}

.news-open__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 60px;
}