@media only screen and (max-width: 1000px) {
	.select-floor {
		width: 26%;
	}

	.select-button {
		width: 22%;

		&__flat-plan {
			width: 24.77%;
		}
	}
}

@media only screen and (max-width: 900px) {
	.select-button__flat-plan {
		width: 30%;
	}
}

@media only screen and (max-width: 767px) {
	.select-floor {
		order: 2;
		width: 100%;
		padding: 0 25%;
		box-sizing: border-box;
	}

	.select-button {
		width: 45%;
		margin-bottom: 25px;
	}

	.select-apartmens-top {
		flex-wrap: wrap;
	}

	.select-apartmens__image {
		top: 80%;
		left: 10px;
	}

	.select-button__flat-plan {
		margin-bottom: 0;
	}

}

@media only screen and (max-width: 450px) {
	.select-floor {
		padding: 0 10%;

		&__text {
			font-size: 1rem;
		}
	}

	.select-button {
		width: 100%;
		margin-bottom: 25px;
	}

	.apartmens-plan-wrap {
		height: auto;
		position: relative;
		top: 100px;
	}

	.select-apartmens-wrap {
		height: 550px;
		padding-top: 25px;
	}

	.apartment-tooltip {
		display: none;
		width: 150px;

		&__icon {
			width: 40px;
			margin-bottom: 20px;
		}

		&__text {
			font-size: 0.45rem;
		}
	}
}

