.page-top_diw {
    position: absolute;
    width: 100%;
    z-index: 2;
}
.diw {
    // height: calc(100vh - 75px);
    height: 100vh;
}
.diw__slider {
    // height: calc(100vh - 75px);
    height: 100vh;

}
.diw__slider-item {
    width: 100%;
    // height: calc(100vh - 75px);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.diw__slider-item-0 {background-image: url('../img/diw/0.jpg')}
.diw__slider-item-1 {background-image: url('../img/diw/1.jpg')}
.diw__slider-item-2 {background-image: url('../img/diw/2.jpg')}
.diw__slider-item-3 {background-image: url('../img/diw/3.jpg')}
.diw__slider-item-4 {background-image: url('../img/diw/4.jpg')}
.diw__slider-item-5 {background-image: url('../img/diw/5.jpg')}
.diw__slider-item-6 {background-image: url('../img/diw/6.jpg')}
.diw__slider-item-7 {background-image: url('../img/diw/7.jpg')}
.diw__slider-item-8 {background-image: url('../img/diw/8.jpg')}
.diw__slider-item-9 {background-image: url('../img/diw/9.jpg')}
.diw__slider-item-10 {background-image: url('../img/diw/10.jpg')}

.progress-bar__wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100px;
    z-index: 2;
    max-width: 1060px;
    padding: 0 60px;
    margin: 0 auto;
    width: 100%;
}

.progress-bar {
    display: flex;
}

.slide-bar {
    width: 10%;
    height: 1px;
    background-color: rgba($beige1, 0.5);
    position: relative;
    transition: background-color 0.5s;
    &:last-child {
        width: 0%;
    }
}
.slide-bar-last {
    .slide-square {
        background-color: $beige1;
    }
    .slide-time {
        opacity: 1;
    }
}
.slide-bar-active {
    &.slide-bar {
        background-color: $beige1;
        
    }
}
.slide-square {
    width: 12px;
    height: 12px;
    background-color: $green3;
    position: absolute;
    top: -6px;
    left: 0;
    transition: background-color 0.5s;
}

.slide-time {
    position: absolute;
    top: -55px;
    left: -35px;
    display: inline-block;
    padding: 10px 22px;
    background-color: $beige1;
    color: #000;
    opacity: 0;
    transition: opacity 0.5s;
    &::after {
        content: '';
        position: absolute;
        display: block;
        bottom: -7px;
        left: 50%;
        transform: translateX(-50%);
        width: 0; 
        height: 0; 
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        
        border-top: 7px solid $beige1;
    }
}

.diw__slider-msg-wrapper {
    position: absolute;
    bottom: 20%;
    right: 10%;
    z-index: 2;
}
.diw__slider-msg_time {
    padding: 16px 35px;
    background-color: rgba($green1, 0.9);
    max-width: 130px;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 500;
}
.diw__slider-msg_text {
    text-align: left;
    max-width: 350px;
    padding: 35px;
    background-color: rgba($beige1, 0.9);
    font-size: 1.5rem;
    line-height: 36px;
    font-weight: 300;
    color: #000;
}