
.our-contacts {
    position: relative;
    height: 450px;

    &__image {
        position: absolute;
        top: 30px;
        left: 50px;
    }
}
.our-contacts-list {
    margin-top: 50px;
    margin-left: 39%;
    width: 575/1160*100%;
    display: flex;
    flex-wrap: wrap;

    &__item {
        position: relative;
        width: 49%;
        margin-bottom: 25px;

        &:before {
            position: absolute;
            top: 0;
            left: -45px;
            width: 30px;
            height: 30px;
            content: " ";
            background-image: url(../img/tab-forms/tab-sprite.png);
        }

        &_2:before {
            background-position: 30px 0px; 
        }
        &_3:before {
            background-position: 0px 156px; 
        }
    }

    &__heading {
        font-size: 24/16*1rem;
        color: #000;
        margin-bottom: 10px;
    }

    &__info {
        font-size: 18/16*1rem;
        line-height: 1.6;
    }
}



.contacts {
    max-width: 1160px;
    margin: 0px auto 20px;
    background-image: url('../img/tab-forms/contacts_tab_form_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}
.contacts__tabs {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}
.contacts__tab {
    height: 100%;
    line-height: 50px;
    flex:1;
    text-align: center;
    background-color: rgba($green1, 0.8);
    color: $beige1;
    transition: color 0.5s, background-color 0.5s;
    &.contacts__tab_active {
        background-color: $beige1;
        color: $green1;
    }
    &:hover {
        cursor: pointer;
    }
}
.contacts__heading {
    text-align: center;
    margin-top: 25px;
    font-size: 2.375rem;
    &::after {
        content: '';
        display: block;
        width: 52px;
        height: 1px;
        background-color: #fff;
        margin: 15px auto 0px;

    }
}
.contacts__tab-content {
    padding: 0px 5px;
}
.contacts__tab-content__hidden {
    display: none;
}
.contacts__tab-content-form {
    form {
        max-width: 1020px;
        margin: 24px auto 0px;
    }
    input, textarea {
        display: block;
        width: 100%;
        height: 50px;
        margin-bottom: 15px;
        border: 1px solid rgba(255, 255, 255, 0.35);
        outline: none;
        color: $green1;
        letter-spacing: 0.45px;
        font-size: 1.125rem;
        padding-left: 31px;
        font-family: "TTNorms", sans-serif;
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            font-family: "TTNorms", sans-serif;
            color: $green1;
            letter-spacing: 0.45px;
            font-size: 1.125rem;
            opacity: 1;
        }
        &::-moz-placeholder { /* Firefox 19+ */
            font-family: "TTNorms", sans-serif;
            color: $green1;
            letter-spacing: 0.45px;
            font-size: 1.125rem;
            opacity: 1;
        }
        &:-ms-input-placeholder { /* IE 10+ */
            font-family: "TTNorms", sans-serif;
            color: $green1;
            letter-spacing: 0.45px;
            font-size: 1.125rem;
            opacity: 1;
        }
        &:-moz-placeholder { /* Firefox 18- */
            font-family: "TTNorms", sans-serif;
            color: $green1;
            letter-spacing: 0.45px;
            font-size: 1.125rem;
            opacity: 1;
        }
    }
    textarea {
        padding-top: 12px;
        font-size: 1.125rem;
        font-family: "TTNorms", sans-serif;
    }
    .contacts__tab-submit-btn {
        font-size: 0.875rem;
        letter-spacing: 0,35px;
        padding: 0px;
        border: none;
        background-color: $green1;
        color: #fefefe;
        transition: all 0.5s;
        margin-bottom: 20px;
        &:hover {
            background-color: $beige1;
            cursor: pointer;
        }
    }
}

.tab-form__input-phone {
    padding-left: 70px !important;
}

.contacts-form__callback-input {
    position: relative;
}
.contacts-form__callback-input_message {
    margin-top: 15px;
}
.required-field-icon {
    position: absolute;
    top:0;
    right: 0;
    display: block;
    width: 24px;
    height: 24px;
    line-height: 30px;
    background-color: $beige1;
    text-align: center;
    font-size: 1.5rem;
}

// animation
.contacts__tab {
    transition-property: opacity, color, background-color;
    transition-duration: 1s, 0.5s, 0.5s;
}
.contacts__tab_1 {
    transition-delay: 0.1s, 0.1s, 0.1s;
}
.contacts__tab_2 {
    transition-delay: 0.2s, 0.1s, 0.1s;
}
.contacts__tab_3 {
    transition-delay: 0.4s, 0.1s, 0.1s;
}
.contacts__tab-content {
    transition: 0.6s 1.5s ease-out;
}
.animate {
    .contacts__tab {
        opacity: 0;
    }
    .contacts__tab-content {
        opacity: 0;
    }
}