.developer {
    overflow: hidden;
}
.page-top_developer {
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-image: url('../img/developer/developer_bg.jpg');
    .page-top_heading {
        h1 {
            color: #000;
        }
    }
}
.developer__msg {
    max-width: 845px;
    margin: 20px auto;
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 300;
}

.developer__slider-container {
    position: relative;
}

.developer__slider {
    max-width: 830px;
    margin: 0 auto;
    .slick-track {
        display: flex;
        align-items: center;
    }
    img {
        width: 70%;
        margin: 0 auto;
    }
    img.developers__einstein-logo {
        width: 45%;
    }
}
.gallery-arrow_developer-prev {
    left: 5px;
}
.gallery-arrow_developer-next {
    right: 5px;
}
.developer__main-content {
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.developer__location {
    width: 60%;
    border: 1px solid #cdcdcd;
    padding: 50px 15px 25px 25px;
    display: flex;
    justify-content: space-between;
}
.developer__saga-logo {
    width: 183px;
    align-self: flex-start;
}
.developer__location-text {
    flex: 1;
    max-width: 400px;
    color: #000;
    p {
        line-height: 26px;
        letter-spacing: 0.35px;
    }
}
.developer__location-list {
    margin-top: 30px;
}
.developer__location-list-item {
    color: #000;
    margin-bottom: 15px;
    &::before {
        content: '';
        display: inline-block;
        width: 30px;
        height: 30px;
        margin-right: 20px;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-image: url('../img/developer/developer_spritesheet.png');
    }
}
.developer__location-list-item_addr {
    &::before {
        background-position: -2px -2px;
    }
}
.developer__location-list-item_tel {
    &::before {
        background-position: -230px -2px;
    }
}
.developer__location-list-item_email {
    &::before {
        background-position: -36px -2px;
    }
}

.developer__about {
    width: 37%;
    border: 1px solid #cdcdcd;
    padding: 50px 38px 25px 25px;

    line-height: 26px;
    color: #000;
}
.developer__about-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.developer__about-item-icon {
    display: block;
    background-repeat: no-repeat;
    background-image: url('../img/developer/developer_spritesheet.png');
}
.developer__about-item-text {
    flex: 1;
}
.developer__about-item-icon_1 {
    width: 44px;
    height: 36px;
    background-position: -70px -2px;
    margin-right: 37px;
}
.developer__about-item-icon_2 {
    width: 63px;
    height: 35px;
    background-position: -118px -2px;
    margin-right: 18px;
}
.developer__about-item-icon_3 {
    width: 44px;
    height: 37px;
    background-position: -184px -2px;
    margin-right: 36px;
}

// animations
.developer__main-content {
    overflow: hidden;
}
.developer__location,
.developer__about {
    transition: opacity 1s ease-out, transform 1s ease-out;
}
.animate {
    .developer__location {
        opacity: 0;
        transform: translateX(-100px);
    }
    .developer__about {
        opacity: 0;
        transform: translateX(100px);
    }
}