@media only screen and (max-width: 1200px) {

    // other projects
    .hp-other-projects-container {
        max-width: 800px;
    }

} // 1200 end

@media only screen and (max-width: 1024px) {

    // about
    .hp-about {
        margin-top: 30px;
    }
    .hp-about__info-lists {
        padding: 50px 10px;
    }
    .hp-about__info-list-item  {
        width: 160px;
        line-height: 18px;
    }
    .hp-about__logo-text {
        flex-direction: column;
    }

    // location
    .hp-location {
        margin-top: 30px;
    }
    .hp-location__architecture, 
    .hp-location__map {
        width: 100%;
        max-width: 748px;
        margin: 0 auto;
    }
    .hp-location__map {
        margin-bottom: 30px;
    }

    // advantages
    .hp-advantages {
        margin-top: 30px;
    }
    .hp-advantages__gallery-text {
        width: 300px;
    }
    .hp-advantages__gallery-text_bottom {
        padding: 60px 26px 0px;
    }
    // values
    .hp-values {
        margin-top: 30px;
    }
    // ho 3 items
    .hp-3-items {
        margin-top: 30px;
    }
    .hp-3-items__left {
        width: 100%;
        max-width: 748px;
        margin: 0 auto;
    }
    .hp-apartments {
        margin-bottom: 30px;
        &:hover {
            &.hover-ef_2 {
                .hover-ef__black-box {
                    animation-name: animateBlackBoxScale9;
                    animation-duration: 1s;
                }
            }
            .hover-ef__bottom-text {
                bottom: 69%;
            }
        }
    }
    .hp-3-items__right {
        width: 100%;
        max-width: 748px;
        margin: 0 auto;
    }
    .hp-2-items {
        margin-top: 0px;
    }
    .hp-infrastructure,
    .hp-commercial {
        height: 100%;
        margin-bottom: 30px;
        &:hover {
            .hover-ef__bottom-text {
                bottom: 31%;
            }
            &.hover-ef_2 {
                .hover-ef__black-box {
                    animation-name: animateBlackBoxScale9;
                    animation-duration: 1s;
                }
            }
            
        }
    
    }
    .hp-construction,
    .hp-developer {
        width: 100%;
        max-width: 748px;
        margin: 0 auto;
        margin-bottom: 30px;
        &:hover {
            .hover-ef__bottom-text {
                bottom: 62%;
            }
            &.hover-ef_2 {
                .hover-ef__black-box {
                    animation-name: animateBlackBoxScale9;
                    animation-duration: 1s;
                }
            }
            
        }
    }

    // day in washington and sfera
    .hp-washington-sfera {
        width: 100%;
        max-width: 748px;
        margin: 0 auto;
        margin-bottom: 30px;
        
        &:hover {
            .hover-ef__bottom-text {
                bottom: 62%;
            }
            &.hover-ef_2 {
                .hover-ef__black-box {
                    animation-name: animateBlackBoxScale9;
                    animation-duration: 1s;
                }
            }
            
        }
    }
    
    // other projects
    .hp-other-projects {
        margin-top: 0;
        margin-bottom: 30px;
        img {
            width: 70%;
        }
    }
    .hp-other-projects-container {
        max-width: 635px;
    }

} // 1024 end

@media only screen and (max-width: 767px) {
    .hero-btn {
        width: 90%;
    }
    .hero__gourment_left,
    .hero__gourment_right {
        display: none;
    }
    .hero__gourment_center {
        border: 1px solid rgba($beige1, 0.5);
    }
    .gallery-status-bar-container_hero {
        display: none;
    }
    .hp-down-arrows {
        display: none;
    }
    .hero__wrapper {
        margin-top: -230px;
    }
    // about
    .hp-about {
        margin-top: 0;
        background-image: url('../img/home/hp-about_bg_mobile.jpg');
    }
    .hp-other-projects-container {
        max-width: 280px;
    }
    .hp-about__desktop-item {
        display: none;
    }
    .hp-about__mobile-item {
        display: flex;
    }
    .hp-about__logo-text {
        position: static;
        transform: none;
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }
    .hp-about__heading {
        max-width: none;
        font-size: 1.5rem;
    }
    .W-logo_hp-about {
        width: 43px;
    }
    .hp-about__info-lists {
        padding: 20px 10px;
    }
    .hp-about__info-list_left {
        .hp-about__info-list-item:nth-child(1) {transition-delay: calc(#{$delay});}
        .hp-about__info-list-item:nth-child(2) {transition-delay: calc(#{$delay} + 0.2s);}
        .hp-about__info-list-item:nth-child(3) {transition-delay: calc(#{$delay} + 0.4s);}
        .hp-about__info-list-item:nth-child(4) {transition-delay: calc(#{$delay} + 0.6s);}
        .hp-about__info-list-item:nth-child(5) {transition-delay: calc(#{$delay} + 0.8s);}
        .hp-about__info-list-item:nth-child(6) {transition-delay: calc(#{$delay} + 1s);}
        .hp-about__info-list-item:nth-child(7) {transition-delay: calc(#{$delay} + 1.2s);}
    }
    //location
    .hp-location {
        margin-top: 0;
    }
    .hp-location__map {
        margin-bottom: 0;
    }
    .hp-advantages {
        margin-top: 0;
    }
    .hover-ef__bottom-text {
        left: 5px;
    }
    // advantages 
    .hp-advantages {
        height: 615px;
    }
    .hp-advanages__gallery_item {
        height: 615px;
    }
    .hp-advantages__gallery-text {
        height: auto;
        width: 100%;
        top: auto;
        bottom: 0;
    }
    .hp-advantages__gallery-text_top {
        padding: 20px 0 20px 10px;
        height: auto;
        
        position: relative;
        display: flex;
        
    }
    .gallery-status-bar-container_advantages {
        position: absolute;
        top: 25px;
        left: 115px;
    }
    .hp-advantages__heading {
        margin-top: 35px;
        margin-left: 15px;
    }
    .W-logo_advantages {
        margin: 0;
        width: 86px;
    }
    .hp-advantages__gallery-text_bottom {
        padding: 10px;
    }

    // value 
    .hp-values {
        height: 615px;
        margin-top: 0;
    }
    .hp-values__gallery_item {
        background-position: center;
        height: 615px;
    }
    .hp-values__gallery-text {
        height: auto;
        width: 100%;
        top: auto;
        bottom: 0;
    }
    .hp-values__gallery-text_top {
        padding:0;
        height: auto;
        text-align: center;
    }
    .gallery-status-bar-container_values {
        margin: 15px auto;
    }
    .hp-values__heading {
        margin:0;
        &::after {
            margin: 10px auto;
        }
    }
    .hp-values__paragraph {
        margin: 0 auto;
        max-width: 210px;
    }
    .W-logo_values {
        display: none;
    }
    .hp-values__gallery-text_bottom {
        padding: 10px;
    }
    .hp-3-items {
        margin-top: 0;
    }
    .hp-apartments {
        margin-bottom: 0;
    }
    .hp-commercial, 
    .hp-infrastructure {
        margin-bottom: 0;
        height: 615px;
    }
    .hp-infrastructure{
        background-image: url('../img/home/hp_infrastructure_bg_mobile.jpg');
    }
    .hp-commercial {
        background-image: url('../img/home/hp_commercial_bg_mobile.jpg');
    }
    .hover-ef__arrow_2 {
        left: 102%;
        transform: scale(0.9);
    }
    .hp-construction {
        margin-bottom: 0;
    }
    .hp-developer {
        margin-bottom: 10px;
    }
    .hp-washington-sfera {
        margin-bottom: 0;
    }
    .hp-washington-sfera__bottom-line {
        height: 140px;
    }
    .hp-day-in-washington {
        .hover-ef__bottom-text {
            max-width: 200px;
        }
        .hover-ef__arrow_2 {
            top: 40px;
            left: 120%;
        }
    }
    .hp-sfera {
        .hover-ef__bottom-text {
            max-width: 225px;
        }
        .hover-ef__arrow_2 {
            top: 40px;
            left: 70%;
        }
    }
    .hover-ef {
        &:hover {
            .hover-ef__bottom-text {
                bottom: 71%;
                left: 39px
            }
        }
        &.hp-commercial {
            .hover-ef__arrow_2 {
                top: 0px;
            }
        }
    }
    .hp-washington-sfera__content {
        &:hover {
            .hover-ef__bottom-text {
                bottom: 64%;
            }
            .hover-ef__arrow_2 {
                top: 70px;
            }
        }
    }

} // 767 end
@media only screen and (max-width: 520px) {
    .hp-about__info-list-item {
        width: 140px;
        font-size: 0.875rem;
    }
} // 520 end

@media only screen and (max-width: 374px) {
    .hover-ef__heading,
    .hover-ef__heading_2 {
        font-size: 1.8rem;
    }
    // about
    .hp-about {
        padding: 2px;
    }
    .hp-about__info-lists {
        padding: 20px 2px;
    }
    .hp-about__construction-end {
        font-size: 1rem;
        line-height: 36px;
    }
} // 374 end