

.gallery-slider-wrap {
  position: relative;
  width: 100%;

  &:before {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 20%;
    content: " ";
    background: linear-gradient(to bottom, rgba(#000,0.05), rgba(#000,0.7));
    z-index: 1
  }
}

.gallery-slider {
  width: 100%;
  // height: 100vh;

  .slick-list {
      height: 100%;
  }
  .slick-slide {
      height: 100%;
  }
  .slick-track {
      height: 100%;
  }
  .slick-slide div {
      height: 100%;
  }

  &__item {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &__button {
    position: absolute;
    top: 50%;
    background-color: #D2C5C5;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;

    &_prev {
      left: 56/1920*100%;
      transform: translateY(-50%);
    }

    &_next {
      right: 56/1920*100%;
      transform: translateY(-50%) rotate(-180deg);
    }

    &:hover {
      background-color: #fff;
    }
  }

  &__icon {
    height: 10px;
    transition: all 0.4s;
    margin-top: 3px;
    margin-right: 4px;

  }
}

.gallery-slider-nav-wrap {
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  width: 960px;
  z-index: 2;
}
.gallery-slider-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; 
  z-index: 2;

  &__item {
    /*width: 110px !important;*/
    height: 110px !important;
    // margin: 0 10px;
    padding: 0 20px;
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
  }

  &__button {
    position: absolute;
    top: 50%;
    z-index: 2;
    background: transparent;
    border: none;
    outline: none;

    &_prev {
      left: -70px;
      transform: translateY(-50%) rotate(-180deg);
    }

    &_next {
      right: -90px;
      transform: translateY(-50%);
    }
  }

  &__icon {
    stroke: #fff;
    transition: all 0.4s;
    cursor: pointer;

    &:hover {
      stroke: #D2C5C5;  
    }
  }

  &__image {
    height: 100%;
  }

  .slick-track {
    width: auto;
  }
}