@media only screen and (max-width: 1024px) {

    .header-icon_phone {
        display: none;
    }
    .callback-btn_desktop {
        display: none;
    }
    .callback-btn_mobile {
        display: block;
        line-height: 48px;
    }
    .header__wrapper {
        padding: 0 10px;
    }

} // end 1024px

@media only screen and (max-width: 767px) {

    .header__logo {
        width: 130px;
        img {
            width: 100%;
        }
    }
    .header__nav-container {
        max-width: 235px;
    }
    .header__webcam {
        display: none;
    }
    .header__language {
        display: none;
    }
    .menu {
        width: 50px;
    }

} // end 767px
@media only screen and (max-width: 500px) {
    .header__nav-container {
        max-width: 195px;
    }
    .callback-btn_mobile {
        width: 40px;
        height: 40px;
        line-height: 38px;
    }
    .menu {
        width: 40px;
        height: 40px;
    }
    .menu-container {
        width: 30px;
        font-size: 0.625rem;
    }
    .header__nav-item_telephone {
        font-size: 0.75rem;
    }
    .header__wrapper {
        padding: 0px 5px;
    }

}