@media screen and (max-width: 1000px) {
	.document-about {
		padding-left: 10px;
	}
}

@media screen and (max-width: 800px) {
	.document-content {
		flex-wrap: wrap;
		padding: 40px 0;
	}

	.document-about {
		padding-left: 0px;
		width: 60%;
		margin: 0 auto 25px auto;

		&__text {
			font-size: 1rem;
		}
	}

	.document-slider-wrap {
		width: 80%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 600px) {
	.document-content {
		padding: 30px 0;
	}

	.document-about {
		width: 95%;

		&__text {
			font-size: 0.9rem;
		}
	}

	.document-slider-wrap {
		width: 90%;
		margin: 0 auto;
	}

	.document-slider__button {
		width: 30px;
		height: 30px;
	}
}