@media only screen and (max-width: 1200px) {
    .page-top__wrapper {
        max-width: 97%;
    }
} // 1200 end
@media only screen and (max-width: 1024px) {
    .wrapper {
        padding: 0;
    }
}
@media only screen and (max-width: 767px) {
    .wrapper {
        padding: 0;
    }
}